<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vmvlimayrac.app.vmv">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ScoreActivity">
        </activity>
        <activity
                android:name=".ConsignePremierPointActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MauvaiseReponseActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".BonneReponseActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".InfoFoJoueurActivity"
                android:screenOrientation="portrait">
        </activity>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".LauncherActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".MapsFoJoueurActivity"
                android:label="@string/title_activity_maps_fo_joueur"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".questionActivity"
                android:label="Question"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".OrgInfoPartieActivity"
                android:configChanges="orientation"
                android:label="Info partie"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".OrgParametreEquipeActivity"
                android:configChanges="orientation"
                android:label="Equipe"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".OrgParametreEquipeCommentaireActivity"
                android:configChanges="orientation"
                android:label="Commentaire"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".OrgParametrePartieActivity"
                android:configChanges="orientation"
                android:label="Paramètre"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".OrgActivity"
                android:configChanges="orientation"
                android:label="Organisateur"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".OrgParametreActivity"
                android:configChanges="orientation"
                android:label="Paramètre"
                android:screenOrientation="portrait"/>
    </application>

</manifest>